* {
  padding: 0;
  margin: 0;
}
.login {
  /* background-image: url("https://cutewallpaper.org/22/the-40-year-old-virgin-wallpapers/918316719.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 69%; */
  /* background-color: aqua; */
  border: 1px solid white;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  width: 500px;
  padding: 100px 10px;
}

.input_box > input {
  border: 0;
  padding: 10px 100px 10px 10px;
  margin-top: 15px;
  border-radius: 8px;
}
.wrapper{
  background-image: url("https://e0.pxfuel.com/wallpapers/1001/190/desktop-wallpaper-movies-movies-background-on-bat-classic-movie-poster.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 69%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}