body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background-image: url("https://cutewallpaper.org/22/the-40-year-old-virgin-wallpapers/918316719.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 69%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* *{
  background-color: rgb(49, 47, 47);
} */